* {
  background: #F3F5FC;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logoAlura {
  margin-left: 10px;
  padding-top: 10px;
  width: 50%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.digiteSeuTexto {
  border: none;
  color: #3a0ca3;
  margin-top: 5px;
  text-transform: lowercase;
}

::placeholder {color:#3a0ca3;}
  .digiteSeuTexto:focus {
    outline: none;
  }

  #myTextArea {
    background: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 26px;
    color: #3a0ca3;
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 20px;
    position: sticky;
    height: 445px;
    width: 330px;
    resize: none;
  }

  #myTextArea {
    background-image: url(img/moca-azul.png);
  }

  .bg-removed {
    background: none;
  }

  .imagemFundo {
    display: flex;
  }

  #myTextArea:focus {
    outline: none;
  }

  .botoes01 {
    display: flex;
    margin-top: 10px;
  }

  .btnDescriptar {
    background: #3a0ca3;
    border: 1px solid #3a0ca3;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
  }
  
  .btnEncriptar {
    background: #3a0ca3;
    border: 1px solid #3a0ca3;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    height: 67px;
    width: 328px;
  }

  .btnCopiar {
    background: #3a0ca3;
    border: 1px solid #3a0ca3;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 380px;
    position: absolute;
    width: 328px;
  }

  .aviso > p {
    color: #3a0ca3;
    font-size: 15px;
    margin-top: 108px;
    margin-left: 30px;
  }

  footer {
    height: 10px;
    color: #6A49D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* Inicio - Animação botões (Descriptografar e Copiar) */
button {
    --color: #F3F5FC;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 5px solid var(--color);
    transition: color .5s;
    z-index: 10;
    font-size: 20px;
    border-radius: 6px;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 500px;
    border-radius: 100%;
   }
   
   button:hover {
    color: #3a0ca3;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -50px;
    left: -50px;
   }
   
   button:active:before {
    background: #F3F5FC;
    transition: background 0s;
   }
   
   /* @media screen and (max-width:1000px){
  .container {
      flex-direction:column; 
      width:90%; 
      height: 100%;
  }
  .entrada-mensagem {
      margin:20px 0;
      width:100%;
  }
  .entrada{
      height: 20vh;
  }
  .tela-inicial img {
      display:none;
  }
  .tela-final {
      width: 100%;
  }
  .saida-mensagem {
      width:100%;
      margin-left:0;
      display:block;
  }
  .saida{
      height: 25vh;
  }

}

@media screen and (max-width:480px){
  .container {
      flex-direction:column; 
      width:90%;
      height: 100%;
      margin-left: 5%;
  }
  .entrada-mensagem {
      margin:20px 0;
      width:100%;
  }
  .entrada{
      height: 20vh;
  }
  .tela-inicial img {
      display:none;
  }
  .tela-final {
      width: 100%;
  }
  .saida-mensagem {
      width:90%;
      margin-left:0;
      display:block;
  }
  .saida{
      height: 25vh;
  }
  .decodificadores{
      display:block;
  }
  #button-cripto{
      margin-bottom: 14px;
  }
 
} */
